<table id="projects-table">
	<tr>
	    <td project-id="1">
	    	<h3>Stimulix</h3>
	    	Fall 2015
	    </td>
	</tr>
	<tr>
	    <td project-id="2">
	    	<h3>Ozone</h3>
	    	Year 2014/2015
	    </td>
	</tr>
	<tr>
	    <td project-id="3">
	    	<h3>Jutra</h3>
	    	Spring 2015
	    </td>
	</tr>
	<tr>
	    <td project-id="4">
	    	<h3>Captations</h3>
	    	Autumn 2014
	    </td>
	</tr>
	<tr>
	    <td project-id="5">
	    	<h3>Messages</h3>
	    	Autumn 2013
	    </td>
	</tr>
	<tr>
	    <td  project-id="6">
	    	<h3>Culte Éphémère</h3>
	    	Autumn 2013
	    </td>
	</tr>
	<tr>
	    <td project-id="7">
	    	<h3>Sonor Primaire</h3>
	    	Autumn 2013
	    </td>
	</tr>
</table>