@font-face {
  font-family: Apercu;
  src: url("../fonts/Apercu/apercu_regular.otf") format("opentype");
}

@font-face {
  font-family: Apercu;
  font-weight: bold;
  src: url("../fonts/Apercu/apercu_bold.otf") format("opentype");
}

@font-face {
  font-family: Apercu;
  font-style: italic;
  src: url("../fonts/Apercu/apercu_medium_italic.otf") format("opentype");
}

a, a:active, a:visited, a:link, a:hover {
  color: white;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 150px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    /*background-color: #000000;*/
    font-family: Apercu, Arial;
    color: white;
    /*background: url("img/projects/ozone/ozone11.jpg") no-repeat center center fixed; */
    background: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body:before {
    content: '';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0, 0, 0, 0.4);
    opacity: 1;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url("img/projects/ozone/ozone11.jpg") no-repeat;*/
    background-size: cover; 
}

.btn-project {
  background: none;
  color: white;
}

.btn-project a {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.75) !important;
  text-align: right;
  height: 5em;
}

.btn-project a:hover {
  color: rgba(255, 255, 255, 1) !important;
  background: none;
  border: none;
  text-shadow: 5px 1px 6px rgba(0, 200, 255, 0.4);
}

.btn-project a:active, .btn-project a:visited, .btn-project a:link {
  background: none;
  border: none;
}

#contact-container input {
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px;
  box-shadow: none;
  font-size: 2em;
  height: 2em;
  color: white;
}

#contact-container textarea {
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px;
  box-shadow: none;
  font-size: 2em;
  /*height: 2em;*/
  color: white;
}

#contact-container button {
  background: none;
  border-radius: 0px;
  box-shadow: none;
  font-size: 2em;
  /*height: 2em;*/
  color: white;
}

#logo-navbar {
    position: relative;
    top: -10px;
}

#main-container {
  color: white;
  text-align: justify;
}

#menu-items {
    position: relative;
    float: left;
    margin-top: -155px;
    font-size: 3em;
}

#menu-items li {
    display: block;
    float: none;
    margin-bottom: 0.3em;
}

#modal-container {
    width: 50%;
    margin: 0 auto;
}

#right-content {
  box-shadow: none;
}

#title-page {
  margin-top: 0.3em;
  font-size: 6em;
}

#service-header {
  text-align: center;
}

#services-table td {
  padding: 7px;
}

.service-title {
  font-size: 1.2em;
  text-align: center;
}

.size320 {
  width: 320px;
}

#subtitle-page {
  margin-top: 0.3em;
  font-size: 1.4em;
}

#navbar-left, #navbar-right {
  border-top: 1px solid white;
  /*border-bottom: 1px solid white;*/
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* Custom Boostrap */

.nav {
  height: 100px;
  padding-top: 10px;
}

.navbar .container {
  margin-left: 1.2em;
  margin-right: none;
}

.navbar-default {
  height: 125px;
  /*padding-top: 25px;*/
  color: white;
  background: none;
  /*background: rgba(255, 255, 255, 0.2);*/
  border: none;
  box-shadow: none;
}

.navbar-default .navbar-brand {
  color: white;
  /*border-right: 0.1em solid rgba(255, 255, 255, 0.25);*/
}

.navbar-default .navbar-nav>li>a {
  padding: 10px 10px 0px 0px;
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: rgba(255, 255, 255, 0.3);
}

.navbar-default .navbar-nav>li>a:visited {
  color: white;
}

#left-sidebar {
  left: 130px;
}

@media (min-width: 900px) {
  #main-container {
    margin-top: -50px;
    font-size: 1.00em;
  }
  #contact-container {
    margin-top: -50px;
  }
}

@media (min-width: 1300px) {
  #left-sidebar {
    left: 0;
  }
  #main-container {
    margin-top: 0;
    font-size: 1.15em;
  }
}